server:
  port: 8080
  servlet:
    context-path: /productsbatch

spring:
  application:
    name: Products Batch
  datasource:
    url: jdbc:postgresql://127.0.0.1:5432/productsbatch
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  batch:
    jdbc:
      initialize-schema: always
    job:
      enabled: false